section.success, header {
  background-color: white;
}

section.success {
	color: #2C3E50;
	padding-top: 25px;

}

section.success  p {
	text-indent: 25px;
	font-size: 1.75em;
}

section.success li {
	font-size: 1.75em;
}
section.success .introduction {
	font-size: 1.75em;
}

.image_responsive {
	margin-top: 10px
	margin-bottom: 10px;
}

#portfolio {
  padding-top: 25px;
	padding-bottom: 25px;
	color: #2C3E50;
}
header {
	background-image: url("../img/space2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  opacity: 60%;
  margin-bottom: 25px;
}

header.container {
	padding-bottom: 0px;
}

.fa-star {
  text-align: center;
  display: inline-block;
  position: relative;
  top: -.45em;
  padding:0px 5px 0px 5px;*/
}

.star {
  margin: 0px auto 5px;
  min-height: 40px;
}

hr.star-main {
  padding: 0;
  border: none;
  border-top: solid 5px;
  width: 105px;
  font-family: FontAwesome;
  display:inline-block;
  font-size: 2em;
  /*padding: 0 0.25em;*/
}
hr.star-light:after {
  background-color: transparent;
  color: white;
}

h3 {
	text-align: center;
	margin-top: 10px;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo Black', sans-serif;
}

.center {
	margin: 0 auto;
}

.profile-icon {
	height: 15em;
	/*background-color: #2C3E50;
	border-radius: 20em;
	border: 7px solid white;*/
}


#mainNav {
  padding-top: 0px;
  padding-bottom: 0px;
}

#caseButton {
  margin-top: 10px;
  margin-bottom: 20px;
}

.case {
	background-color: white;
	border-color: #2C3E50;
	border-width: 3px;
	color: #2C3E50;
}

.bold {
	font-weight: bold;
}

.caseStudyImage {
	float: right;
}

#portfolio .portfolio-item {
  /*margin: 0 0 15px;*/
  /*right: 0;*/
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 153, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #eee;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}


#portfolioNav {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2C3E50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}


  .dropdown-content a:hover {color: #ff9900}

@media (min-width: 767px) {
  /* Show the dropdown menu on hover */
  #portfolioNav:hover .dropdown-content {
      display: block;
  }
}

div .image-header {
  font-size: 1.75em;
}

